.mainpage{
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    background:rgb(31, 28, 28);
    font-size: 1em;
}
#query{
    width: 50vw;
    min-width: fit-content;
    height: 3em;
    margin: 3vw;
}
#qbox{
    align-content:end;
    width: auto;
}
#header{
    display: flex;
    justify-content:space-around;
    color: greenyellow;
    margin: 3vw;
    min-width: fit-content;
    font-size: 1.5em;
}
#submit{
    display: flex;
    justify-content: right;
}
#sticketlink{
    background: gray;
    cursor: pointer;
    height:5em;
    width: 8em;
    font-weight: bold;
    min-width: fit-content;
    min-height: fit-content;
    margin: 1vw;
}
#ticketlink:hover{
    background: white;
}
.ResultH{
    color: yellowgreen;
    visibility: hidden;
}
#ResultL{
    width: 100vw;
    border-top:4px solid blue;
}
h1{
 margin-top:3vw ;
}
.filters{
    background-color: gray;
}
h1, h2{
    color :yellowgreen
}
#uRlowL,#uRlow{
    
}
table{
    border:2px solid black;
     display: flex;
    justify-content:space-around;
}
tr{
    display: flex;
    justify-content: center;
}
button{
    width: 15em;
    height: 3em;
}
.ibox{
    display: flex;
    width: 95vw;
    field-sizing: content;
}
